/* 去除router-link中的字体默认颜色和下划线 */
.header, a {
  color: rgba(204, 204, 204, 1);
  font-size: 12px;
  text-decoration: none;
}

router-link-active {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  background-color: rgba(51, 51, 51, 1);
  color: rgba(204, 204, 204, 1);
  font-size: 12px;
}

/* 垂直居中， 水平居中 */
.logo, .billboard, .private-music {
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.logo, .billboard, .private-music {
  float: left;
}

.logo {
  width: 200px;
}

.logo img {
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  border-radius: 10px;
  float: left;
}

.billboard, .private-music {
  width: 80px;
  cursor: pointer;
}

.login {
  float: right;
  margin: 5px 20px;
  width: 50px;
  height: 50px;
}

.focus {
  background-color: rgba(0, 0, 0, 1);
}

.focus::after {
  content: "";
  position: relative;
  left: -18px;
  top: 14px;
  border-top: 6px solid transparent;
  border-bottom: 8px solid rgba(193, 13, 12, 1);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.header::after {
  display: block;
  content: '';
  clear: both;
  height: 5px;
  background: rgba(193, 13, 12, 1)
}
