.loading img{
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  margin:auto;
}

.loaded {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loaded li {
  list-style: none;
  margin: 10px;
  position: relative;
}

.loaded li::before {
  content: '';
  display: block;
  width: 208px;
  height: 208px;
  border: 2px outset rgba(200, 200, 200, 0.8);
  position: absolute;
  top: -6px;
  left: -6px;
}

.billboardImg {
  width: 200px;
  height: 200px;
}

.billboardName {
  font-size:14px;
  color: black;
  text-indent: 8px;
}

.billboardName:hover {
  color: rgba(144, 0, 0, 1);
}

