.paging {
  background-color: rgba(193, 13, 12, 1);
  display: flex;
  justify-content: center;
}

/* 清除按钮默认样式 */
.first, .prev, .next, .last, .page-number {
  outline: none;
  background: transparent;
  border: 0;
  color: rgba(204, 204, 204, 1);
}

.first, .prev, .next, .last {
  padding: 2px 6px;
  margin: 8px 7px;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: underline;
}

.page-number {
  width: 30px;
  height: 20px;
  border-radius: 10px;
  margin: 8px 10px;
}

.page-number.highlight {
  background-color: rgba(51, 51, 51, 0.5);
}

