.music-player {
  height: 40px;
  width: 100%;
  min-width: 700px;
  background-color: rgba(51, 51, 51, 1);
  border: 1px solid rgba(77, 73, 73, 0.1);
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: bottom 0.5s linear ;
}

.music-player.lock {
  bottom: 0;
}

.music-player:hover {
  bottom: 0;
}

.lock-btn {
  position: absolute;
  top: -20px;
  right: 20px;
  width: 20px;
  height: 20px;
  outline: none;
  border: 1px solid rgba(51, 51, 51, 1);
  background: rgba(51, 51, 51, 1) url('../../assets/解锁.png') no-repeat center ;
  background-size: 15px;
}

.lock-btn.lock {
  background-image: url('../../assets/锁.png');
}

.album-container {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url('../../assets/唱片.jpg');
  background-size: 40px;
}

.album-image {
  width: 75%;
  border-radius: 50%;
  margin: 5px;
}

.music-detail {
  position: relative;
  width: 60%;
  height: 100%;
  font-size: 12px;
}

.music-message  {
  position: absolute;
  top: 10%;
  width: 120px;
  height: 50%;
}

.music-message span {
  color: rgba(255, 255, 255, 0.5);
}

.music-time {
  position: absolute;
  width: 120px;
  height: 50%;
  top: 60%;
}

.music-progress {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 50%;
  left: 25%;
}

.controllers {
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controllers button, .volume {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 0;
  margin: 0 5px;
}

.controller-prev, .controller-next {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: 20px;
}

.controller-prev {
  background-image: url('../../assets/上一首.png');
}

.controller-next {
  background-image: url('../../assets/下一首.png');
}

.controller-prev.disable,  .controller-next.disable{
  opacity: 0.5;
}

.controller-status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url('../../assets/播放.png');
  background-size: 30px;
}

.controller-status.play {
  background-image: url('../../assets/暂停.png');
}

.volume {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/音量.png');
  background-size: 20px;
}

.volume input[type=range] {
  position: absolute;
  display: none;
  transform: rotate(270deg);
  top: -100px;
  left: -55px;
  background-size: 50% 100%;
}

.volume input[type=range]::before {
  position: absolute;
  left: -8px;
  top: -10px;
  display: block;
  content: '';
  width: 150px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(192, 180, 180, 0.1);
  border: 1px solid rgba(192, 180, 180, 0.8);
}

.volume:focus input[type=range], .volume input[type=range]:active {
 display: block;
}

/* 设置进度条公共样式 */
input[type=range] {
  -webkit-appearance: none;
  height: 3px;
  background: -webkit-linear-gradient(rgb(204, 52, 52, 1), rgb(209, 38, 38, 1)) no-repeat, rgb(192, 180, 180, 1);
  background-size: 0% 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(209, 38, 38, 1);
}

input[type=range]:focus {
  outline: none;
}