/* 轮播图动画设置 */
.fade-img-enter-active, .fade-img-leave-active {
  transition: opacity 2s;
}

.fade-img-enter, .fade-img-leave-to {
  opacity: 0;
}

/* 样式设置 */
.banner {
  position: relative;
  height: 300px;
  background-color: rgb(235, 202, 202, 1);
}

.fade-img {
  position: absolute;
  height: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.spot-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  z-index: 1;
}

.spot {
  margin: 10px;
  width: 6px;
  height: 6px;
  font-size: 0;
  border-radius: 3px;
  background-color: rgba(144, 144, 144, 1);
}

.current-spot {
  background-color: rgba(150, 0, 0, 1);
}
